---
import H2 from "../components/H2.astro";
import PageHeading from "../components/PageHeading.astro";
import Text from "../components/Text.astro";
import Wrapper from "../components/Wrapper.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>

    <PageHeading>
        About LeftistJosh
    </PageHeading>

    <Wrapper>

        <Text>

            <H2>
                What's this all about?
            </H2>
    
            <p>
                I have had an interest in politics, history, science, and philosophy since around the time I graduated highschool in 2006. Basically, I like to base my beliefs about the world on evidence as much as possible. This blog serves as a way for me to keep track of and save all my sources.
            </p>

            <p>
                Some posts will simply be a summary of an insteresting article or study that I have come across. Where I have multiple articles or studies on a similar topic, these links will be grouped in a single article. There also may be opinion pieces at some point.
            </p>

            <H2>
                My biases
            </H2>

            <p>
                I am very far left leaning and I am acutely aware of this. I didn't start out this way; I began my exploration of the world as a conservative christian (the worst kind). I love reading radical literature and am constantly trying to find different points of view on any subject I find interesting. 
            </p>

        </Text>

    </Wrapper>

</BaseLayout>