---
import Wrapper from "../components/Wrapper.astro";
---

<footer
    class="my-8"
>

    <Wrapper>
        <a href="#top" class="flex items-center gap-2 text-sky-800 hover:underline">
            <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 11C4.38066 11 4.26621 10.9517 4.18182 10.8658C4.09743 10.7798 4.05003 10.6632 4.05003 10.5417L4.05003 1.56494L0.768584 4.9078C0.726776 4.95039 0.677144 4.98416 0.62252 5.00721C0.567896 5.03026 0.509351 5.04212 0.450226 5.04212C0.391102 5.04212 0.332556 5.03026 0.277932 5.00721C0.223309 4.98416 0.173676 4.95039 0.131869 4.9078C0.0900615 4.86522 0.0568986 4.81467 0.0342727 4.75903C0.0116467 4.7034 6.83286e-07 4.64376 6.85919e-07 4.58354C6.88551e-07 4.52332 0.0116468 4.46369 0.0342727 4.40805C0.0568986 4.35242 0.0900615 4.30187 0.131869 4.25928L4.18164 0.134418C4.22343 0.0918056 4.27306 0.0580005 4.32769 0.034936C4.38231 0.0118715 4.44087 -1.99286e-07 4.5 -1.96701e-07C4.55913 -1.94116e-07 4.61769 0.0118715 4.67231 0.034936C4.72694 0.0580006 4.77657 0.0918056 4.81836 0.134418L8.86813 4.25928C8.95257 4.34528 9 4.46192 9 4.58354C9 4.70516 8.95257 4.82181 8.86813 4.9078C8.7837 4.9938 8.66918 5.04212 8.54977 5.04212C8.43037 5.04212 8.31585 4.9938 8.23142 4.9078L4.94998 1.56494L4.94998 10.5417C4.94998 10.6632 4.90257 10.7798 4.81818 10.8658C4.73379 10.9517 4.61934 11 4.5 11Z" fill="currentColor"/>
            </svg>
                
            Back to top
        </a>
    </Wrapper>

</footer>