---
import Image from "astro/components/Image.astro"
import Wrapper from "../components/Wrapper.astro"
---

<header 
    class="py-3 mb-3 border-b border-sky-200"
    id="top"
>

    <Wrapper padding="inline">
        
        <nav class="flex items-center gap-4">
            <a 
                href="/"
                class="flex items-center gap-2 mr-auto text-lg text-sky-900 hover:underline w-fit"
            >
                <Image 
                    src="/logo.webp" 
                    width={48}
                    height={48}
                    alt=""
                    role="presentation"
                    class="rounded-full border border-sky-950 shadow-xl shadow-sky-950/10"
                />
                LeftistJosh
            </a>

            <a href="/blog" class="hidden md:block">
                Blog
            </a>

            <a href="/blog/tag">
                Topics
            </a>

            <a href="/blog/date">
                Archive
            </a>

            <a href="/about">
                About
            </a>

        </nav>
    </Wrapper>

</header>