---
import Wrapper from "../components/Wrapper.astro"
---

<header class="py-6 border-b border-sky-200">

    <Wrapper padding="inline">
        <a 
            href="/"
            class="font-bold text-sky-900 hover:underline"
        >
            LeftistJosh
        </a>
    </Wrapper>

</header>